.section {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  color: whitesmoke;
  margin-top: 10px;
}

h2 {
  margin: 0;
}

section:nth-child(2n-1) {
  background-color: darkcyan;
}

section:nth-child(2n) {
  background-color: teal;
}
